.crop_calendar{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 755px;
    height: 1300px;
    background-color:   #a0e0c7;
    text-align: center;
    opacity: 1.0;
    border: 10px solid white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}


.calendar {
     width: 750px;
}

.head-date {
    text-align: center;
    margin-top: 20px;
}

.menu{
    display: inline;
    text-align: center;
}

.days {
    text-align: center;
    font-size: 30px;
}

.date,
.days {
    width: 750px;
    border: 1px solid white;
    float: left;
    background: #a0e0c7;
    font-size:60px;
    color: #58828B;
    text-shadow: 2px 2px white;
    
}



.date {
    display: inline-flex;
    height: 50px;
    
}


.title-user{  
    text-align: center;
    cursor: pointer;
    color: #58828B;
    font-size: 50px;
     text-shadow: 2px 2px white;
}


.title-relation{ 
    text-align: center;
    background: #5E9387;
    cursor: pointer;
    color: #58828B;
    font-size: 30px;
     text-shadow: 2px 2px white;
}


.title-invite{
    text-align: center;
    background: #a0e0c7;
    cursor: pointer;
    color: #58828B;
    font-size: 30px;
     text-shadow: 2px 2px white;
}