@font-face {
    font-family: Namwan-italic;
    src: url(waan-free_regular-italic.ttf);
}
@font-face {
    font-family: Namwan;
    src: url(waan-free_regular.ttf);
}
body {
    background-image: url(border.png);
    font-family: Namwan;
    margin: 0px 0px;
}

/* MenuBar */
ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0;
    overflow: hidden;
    background-color: #58828B;
}

li {
    float: left;    
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: #C8E29D;
    text-align: center;
    padding: 14px 16px;
    font-family: Namwan;
    font-size: 40px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #5E9387;
}


li a:hover, .dropdown:hover .dropbtn {
    background-color: #5E9387;
}

li.dropdown {
    display: inline-block;

}
.active {
    background-color: #FECEA8;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5E9387;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #C8E29D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* MenuBar */

.heading{
    width: 30%;
    height: 50px;
    background-color: red;
}

button {
    width: 60%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    background-color: #a0e0c7;
    cursor: pointer;
    border-radius: 5px;
    border: 5px solid white;
}
button:hover {
   background-color: #a0e0c7;
}
.form {
   margin-top: 100px;
    width: 360px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;
}
.form_edit {
    width: 360px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
    border: 10px solid white;
    border-radius: 20px;
    background-color: #a0e0c7;
}


.note{
    color: red;
    font-size: 24px;
}



textarea{
    margin: 15px 0px 0px 10px;
    resize: none;
    width: 220px;
    height: 100px;
}

.delete{
    color: white;
    text-decoration: none;
}

.bt-edit{
    font-family: Namwan;
    width: 200px;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #a0e0c7;
    cursor: pointer;
    border-radius: 5px;
    border: 5px solid white;
}
.bt-edit:hover{
    background-color: #5E9387;
}

.bt-back{    
    font-family: Namwan;
    width: 200px;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #a0e0c7;
    border-radius: 5px;
    border: 5px solid white;
}

.bt-delete{
    font-family: Namwan;
    width: 200px;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    border: 0px;
    color: white;
    margin: 15px 0px 0px 10px;
    background-color: #a0e0c7;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
}
.bt-delete:hover{
    background-color: #5E9387;
}

.form-login{
    margin:  50px auto;
    width: 500px;
    height: 330px;
    background-color:#a0e0c7;
    text-align: center;
    opacity: 1.0;
    border-radius: 20px;
    border: 10px solid white;
}
.form-success{
    margin:  230px auto;
    width: 500px;
    height: 180px;
    background-color:#a0e0c7;
    text-align: center;
    opacity: 1.0;
    border-radius: 20px;
    border: 10px solid white;
}
button.login-button {
    font-family: Namwan;
    width: 270;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    font-size: 30px;
    background-color: #a0e0c7;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
}
button.login-button:hover {
    background-color: #5E9387;
    

}

.container{
    position: relative;
    display: flex;
    width: 720px;
    margin: 50px auto;
}

.form_regis{
    margin: 0px auto;
    width: 500px;
    height: auto;
    background-color:#a0e0c7;
    text-align: center;
    opacity: 1.0;
    border-radius: 20px;
    border: 10px solid white;
}
.form_app{
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
    background-color:#a0e0c7;
    text-align: center;
    border-radius: 20px;
    border: 5px solid white;
    opacity: 1.0;
}
button.regis_button {
    font-family: Namwan;
    width: 270;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 30px;
    background-color: #a0e0c7;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
}
button.regis_button:hover {
    background-color: #5E9387;
    

}

.content{
    color: white;
    text-align: center;
}

.appointment {
    width: 360px;
    height: 480px;
    margin: 0px auto; 
    text-align:center;
    box-shadow: 0 0 20px 0;
}


.text_login {
    font-family: Namwan;
    color:#58828B;
    font-size: 50px;
    text-shadow: 1px 1px white;
    text-align: center;
}
.app_text{
    font-family: Namwan;
    font-size: 50px;
    background-color:white;
    color: #58828B;
    width: 150px;
    margin: 5px;
    padding: 2px;
    
}
.app_textarea{
    font-family: Namwan;
    font-size: 30px;
    background-color:white;
    color: #58828B;
    width: 270px;
    margin: 5px;
    padding: 2px;
    
}
input[type=text]{
    font-family: Namwan;
    font-size: 50px;
    background-color:white;
    color: #58828B;
    width: 200px;
    margin: 15px;
    padding: 10px;
    
}
input[type=password]{
    font-family: Namwan;
    font-size: 50px;
    background-color:white;
    color: #58828B;
    width: 200px;
    margin: 15px;
    padding: 10px;
}
input[type=date]{
    font-family: Namwan;
    font-size: 30px;
    background-color:white;
    color: #58828B;
    width: 150px;
    margin: 5px;
    padding: 2px;
    
}
input[type=time]{
    font-family: Namwan;
    font-size: 30px;
    background-color:white;
    color: #58828B;
    width: 150px;
    margin: 5px;
    padding: 2px;
    
}

.email_login{
    margin-left: 22px;
}
.email_register{
    margin-left: 56px;
}
.user_register{
    margin-left: 30px;
}
.pass_register{
    margin-left: 33px;
}
.a_register{
    text-decoration: underline;
    color: #58828B;
}

a{
    text-decoration: none;
    color: #58828B;
}
a:hover{
    text-decoration: underline;
    color: #C8E29D;
    cursor: pointer;
}
.text_header{
    font-family: Namwan;
    font-size: 50px;
    color: #58828B;
    text-shadow: 1px 1px white;
}
.text_success{
    font-family: Namwan;
    font-size: 100px;
    color: #58828B;
    text-shadow: 1px 1px white;
}
.error{
    font-family: Namwan;
    font-size: 50px;
    color: black;
}
.app_date{
    margin-left: 0;
}
::-webkit-scrollbar {
    width: 0px;
}