

.crop_calendar{
    margin-left: auto;
    margin-right: auto;
    margin-top:0 px;
    width: 723px;
    height: 560px;
    background-color: #a0e0c7;
    text-align: center;
    opacity: 1.0;
    border: 10px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.calendar {
    width: 750px;
    margin-top:0px;
}

.head-date {
    text-align: center;
    margin-top: 20px;
    
}

.menu{
    display: inline;
    text-align: center;
}

.days {
    text-align: center;
    font-size: 40px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
    overflow-y: scroll;
    
}

.date,
.days {
    position: relative;
    width: 100px;
    border: 1px solid white;
    float: left;
    margin: 1px;
    background: #a0e0c7;
   overflow-y: scroll;
}


.blankday {
    background: white;
    overflow-y: scroll;
}

.date {
    
    height: 100px;
    font-size: 30px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
    overflow-y: scroll;
    
}

.date-active {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    float: left;
    margin: 1px;
    background: #5E9387;
    font-size: 30px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
    overflow-y: scroll;
   
}

.cover{
    height: 20px;
}

.title-user{
    position: absolute;
    width: 100px;
    text-align: center;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 30px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
}


.title-relation{
    position: absolute;
    text-align: center;
    margin: 0px 0px 10px 0px;
    background: #a0e0c7;
    cursor: pointer;
  font-size: 30px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
}


.title-invite{
    position: absolute;
    text-align: center;
    margin-top: 10px;
    background: #a0e0c7;
    cursor: pointer;
    font-size: 30px;
    font-family: Namwan;
    color: #58828B;
    text-shadow: 1px 1px white;
}
