.crop_calendar{
    margin-left: 160px;
    margin-top: 0px;
    width: 998px;
    height: 1388px;
    background-color:   #a0e0c7;
    text-align: center;
    opacity: 1.0;
    border: 10px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}


.calendar {
   width: 1000px;
    margin-top: 0px;
}

.head-date {
   margin-left: 590px;
    margin-top: 20px;
}

.menu{
    display: inline;
    text-align: center;
}
.blank-days { 
    width: 107px;
    height: 60px;
    border: 1px solid white;
    float: left;
    background: #a0e0c7;
    text-align: center;
    font-size: 18px;
}

.days { 
        width: 125px;
    height: 60px;
    border: 1px solid white;
    float: left;
    background: #a0e0c7;
    color: #58828B;
    text-shadow: 2px 2px white;
    text-align: center;
    font-size: 30px;
}

.date{
    width: 998px;
    height: 55px;
    float: left;
    left: 0;
    background: #a0e0c7;
}


.blankday {
    background: #333;
}

.date-active {
    width: 750px;
    height: 50px;
    border: 1px solid black;
    float: left;
    margin: 1px;
    background: #58828B;
    font-size: 14px;
}

.each-day{
    text-align: center;
    float: left;
    display: inline-block;
    border: 1px solid white;
    height: 60px;
    width: 125px;
    background: #a0e0c7;
    overflow-y: scroll;
}

.time-each-day{
        text-align: center;
    float: left;
    display: inline-block;
    border: 1px solid white;
    height: 60px;
    width: 107px;
    background: #a0e0c7;
    font-size: 50px;
    color: #58828B;
    text-shadow: 2px 2px white;
}

.cover{
    height: 20px;
}

.title-user{
    text-align: center;
    cursor: pointer;
    color: #58828B;
    font-size: 30px;
     text-shadow: 2px 2px white;
}


.title-relation{
     text-align: center;
    background: #5E9387;
    cursor: pointer;
    color: #58828B;
    font-size: 30px;
     text-shadow: 2px 2px white;
}


.title-invite{
     text-align: center;
    background: #a0e0c7;
    cursor: pointer;
    color: #58828B;
    font-size: 30px;
     text-shadow: 2px 2px white;
}